<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite GEDOTT</title>
</head>

<body style="font-family: sans-serif; margin: 0; padding: 0; background-color: #ffffff;">
    <table align="center" role="presentation"
        style="border: 0; padding: 0; border-spacing: 0; background: #ffffff; width: 100%; max-width: 600px; border-collapse: collapse;">
        <tr>
            <td align="center" style="padding: 40px;">
                <a href="{{ siteUrl }}" target="_blank">
                    <img src="{{ gedottLogo }}" alt="Logo GEDOTT" style="max-width: 100%; height: auto;" />
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <h4>Recuperar senha de acesso ao GEDOTT</h4>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px; color: #0f141799;">
                <p>Você solicitou a recuperação de senha para acessar o sistema de Gerenciamento de Doação de Órgãos e
                    Tecidos (GEDOTT).</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px; color: #c62828;">
                <p>Este convite é válido por 1 hora à partir do recebimento deste e-mail.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <h5>Senha temporária:</h5>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 40px; background-color: #eceff1; text-align: center;">
                {{ tempPassword }}</td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <strong>Siga os passos abaixo para recuperar seu acesso:</strong>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px; color: #0f141799;">
                <ol>
                    <li>Acesse a plataforma no seu navegador web ou baixe o aplicativo GEDOTT na sua loja de
                        aplicativos;</li>
                    <li>Copie a senha temporária acima e entre utilizando este e-mail;</li>
                    <li>Defina uma nova senha.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px; color: #0f141799;">
                <p>Ao aceitar o convite, você concorda com os termos de uso e políticas de privacidade do sistema.</p>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <a style="color: #28495f;" href="{{ termosUrl }}">Termos de Uso</a>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <a style="color: #28495f;" href="{{ politicasUrl }}">Políticas de Privacidade</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 40px;">
                <a href="{{ siteUrl }}" target="_blank"
                    style="display: inline-block; width: 312px; height: 42px; color: #ffffff; padding: 12px 80px; border-radius: 4px; text-decoration: none; background-color: #28495f; text-align: center; line-height: 42px;">ACESSAR
                    VIA WEB</a>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 40px;">
                <a href="{{ googlePlayUrl }}" target="_blank">
                    <img src="{{ googlePlayLogo }}" alt="Logo Google Play"
                        style="display: inline-block; max-width: 100px; height: auto; margin-right: 10px;" />
                </a>
                <a href="{{ appStoreUrl }}" target="_blank">
                    <img src="{{ appStoreLogo }}" alt="Logo App Store"
                        style="display: inline-block; max-width: 100px; height: auto;" />
                </a>
            </td>
        </tr>
        <tr>
            <td style="padding: 0 40px;">
                <div style="border-top: 1px solid #0000001f;"></div>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 40px; color: #0f141799;">
                <p>Este é um e-mail automático. Precisa de ajuda? Entre em contato com a CET:</p>
                <p>Telefone: (51) 3353-3366</p>
            </td>
        </tr>
    </table>
</body>

</html>